<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table">
  <thead>
    <tr>
      <% nested_path = controller_name == 'campaigns' ?
        params.merge({ controller: 'tasks', action: 'index', campaign_id: @campaign.id}) :
        nil %>
      <th class="sortable">
        <%= sortable "task_type", t("views.tasks._tasks.task_type"), nested_path %>
      </th>
      <th class="sortable">
        <%= sortable "name", t("views.tasks._tasks.name"), nested_path %>
      </th>
      <th class="sortable">
        <%= sortable "description", t("views.tasks._tasks.description"), nested_path %>
      </th>
      <th class="sortable">
        <%= sortable "htag", t("views.campaigns._campaigns.htag") %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% for task in tasks %>
      <tr>
        <td><%= task.task_type_humanize %></td>
        <td class="-bold"><%= link_to task.name, task_path(task) %></td>
        <td><%= task.description %></td>
        <td>
          <ul class="tags-list text text-tag -light">
            <% task.htag_list.to_s.split(",").each do |tag| %>
              <li class="c-tag"><%= tag %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate tasks, previous_label: '<', next_label: '>' %>
