<div class="l-header">
  <div class="wrap">

    <%= link_to (image_tag "logo.png"), "/", class: "logo"%>

    <nav class="c-navigation">
      <button class="btn-mobile-menu js--open-menu">
        <svg class="icon">
          XXX
          <use xlink:href="#icon-menu"></use>
        </svg>
      </button>

      <ul class="main-menu">
        <li class="<%="is-current" if ["campaigns", "events", "tasks"].include?(controller_name) %> sub-menu-toggler menu-item"><a href="#" class="nav-link text text-menu -light"><%= t('views.application._header.nav.participate') %></a>

          <ul class="sub-menu">
            <li>
              <%= link_to t('views.application._header.nav.campaigns'),
                campaigns_path, { class: "text text-menu -dark #{"is-current" if controller_name == 'campaigns'}" } %>
            </li>
            <li>
              <%= link_to t('views.application._header.nav.events'),
                events_path, { class: "text text-menu -dark #{"is-current" if controller_name == 'events'}" } %>
            </li>
            <li>
              <%= link_to t('views.application._header.nav.tasks'),
                tasks_path, { class: "text text-menu -dark #{"is-current" if controller_name == 'tasks'}" } %>
            </li>
            <li>
              <%= link_to t('views.application._header.nav.suggest_event'),
                new_event_request_path, { class: "text text-menu -dark #{"is-current" if controller_name == 'event_resquests'}" } %>
            </li>
          </ul>
        </li>

        <li class="<%="is-current" if ["impact"].include?(controller_name) %> menu-item">
          <%= link_to 'Impact', "/#activity", {class: 'nav-link text text-menu -light'} %>
        </li>
        <li class="<%="is-current" if ["download"].include?(controller_name) %> menu-item">
          <%= link_to 'Data Download', "/#download", {class: 'nav-link text text-menu -light'} %>
        </li>
        <li class="<%="is-current" if ["about"].include?(controller_name) %> menu-item">
          <%= link_to 'About', "/#about",  {class: 'nav-link text text-menu -light'} %>
        </li>
        <li class="sub-menu-toggler menu-item"><a href="#" class="nav-link text text-menu -light"><%= image_tag "language.svg", alt: "Language", title: "Language selector" %></a>
          <ul class="sub-menu">
            <li>
              <%= link_to "en", url_for(locale: "en"), class: "#{"is-current" if I18n.locale == "en"} text text-menu -dark" %>
            </li>
            <li>
              <%= link_to "fr", url_for(locale: "fr"), class: "#{"is-current" if I18n.locale == "fr"} text text-menu -dark" %>
            </li>
            <li>
              <%= link_to "pt", url_for(locale: "pt"), class: "#{"is-current" if I18n.locale == "pt"} text text-menu -dark" %>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

  </div>
</div>
<div id="share-modal" class="c-share-modal"></div>
