<div class="wrap">
  <h1 class="text text-module-title -primary"><%= t('views.home.index._about.title_primary') %></h1>
  <h2 class="text text-module-subtitle -dark"><%= t('views.home.index._about.title_secondary') %></h2>
  <p class="text text-claim -darker"><%= t('views.home.index._about.claim_para_1') %></p>
  <p class="text text-claim -darker"><%= t('views.home.index._about.claim_para_2') %></p>
  <button style="display: none;" class="bttn bttn-primary"><%= t('views.home.index._about.btn') %></button>
</div>
