<div class="wrap -center">
  <h1 class="image-title"><%= image_tag "logo.png" %></h1>
  <hr/>
  <p class="text text-claim -light"><%= t('views.home.index._home_intro.intro') %></p>
  <div class="partners">
    <%= link_to "http://www.moabi.org" do %>
      <div class="partner moabi"></div>
    <% end %>
    <%= link_to "https://ec.europa.eu/jrc/en" do %>
      <div class="partner eu-co"></div>
    <% end %>
    <%= link_to "http://www.globalforestwatch.org" do %>
      <div class="partner gfw"></div>
    <% end %>
  </div>
  <div class="find-more">
    <a href="#slider" class="text text-button -light"><%= t('views.home.index._home_intro.find_more') %>
      <div class="arrow"></div>
    </a>
  </div>
</div>
