<div class="wrap">
  <h2 class="text text-module-subtitle -dark"><%= t('views.home.index._participate.subtitle') %></h2>
  <h1 class="text text-module-title -light"><%= raw t('views.home.index._participate.title') %></h1>
  <div class="participate-content">
    <% campaigns.each do |campaign| %>
      <div class="participate-item">
        <% if campaign.image.exists? %>
          <%= image_tag campaign.image.url, class: "image-item" %>
        <% else %>
          <img src="" class="image-item">
        <% end %>
        <h3 class="text text-p-title -dark"><%= campaign.name %></h3>
        <p class="text text-p -darker"><%= campaign.truncated_description %></p>
        <%= link_to campaign, class: "text text-p -light" do %>
          [+] <%= t('views.home.index._participate.read_more') %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
