<% title t("views.application.pages.events") %>
<section class="l-events-section" id="eventsIndex">

  <article class="l-intro -events">
    <div class="l-routes">
      <div class="wrap">
        <div class="row">
          <div class="col-sm-12">
            <ul class="c-routes text text-desc -light">
              <li class="route"><%= t("views.application.pages.participate") %></li>
              <li class="route">
                <%= link_to t("views.application.pages.events"), events_path,
                  class: "route-link" %>
              </li>
            </ul>
            <div id="open-modal" class="open-modal"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrap">
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <div class="c-section-intro">
            <h1 class="title text text-module-subtitle -light">
              <%= t("views.events.index.title") %>
            </h1>
            <p class="text text-desc -light">
              <%= t("views.events.index.description") %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="l-main-content">
    <%= form_tag events_path, method: 'get', id: "search-form-events" do %>
      <div class="search wrap">
        <%= text_field_tag :search_events, params[:search_events], class: 'search-input' %>
        <svg class="icon icon-search">
          <use xlink:href="#icon-search"></use>
        </svg>
        <%= submit_tag '', name: nil, class: 'hidden' %>
      </div>
      <div id="search-table-events"><%= render 'events/events', events: @events %></div>
    <% end %>
  </article>
</section>
