<% title @event.name %>
<section class="l-events-section -detail" id="eventsDetail">
  <%= article_with_background(@event) do %>
    <div class="l-routes">
      <div class="wrap">
        <div class="row">
          <div class="col-sm-12">
            <ul class="c-routes text text-desc -light">
              <li class="route"><%= t("views.application.pages.participate") %></li>
              <li class="route">
                <%= link_to t("views.application.pages.events"), events_path,
                  class: "route-link" %>
              </li>
              <li class="route"><%= @event.name %></li>
            </ul>
            <div id="open-modal" class="open-modal"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrap">
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <div class="c-section-intro">
            <span class="date"><%= @event.date %></span>
            <h1 class="title text text-module-subtitle -light"><%= @event.name %></h1>
            <ul class="tags-list text text-tag -light">
              <% @event.htag_list.to_s.split(",").each do |tag| %>
                <li class="c-tag -primary"><a href="/leaderboards?hashtag=<%= tag.strip %>" ><%= tag %></a></li>
              <% end %>
            </ul>
            <p class="text text-desc -light"><%= @event.description %></p>
            <p class="text text-desc -light"><b>Instructions:</b> <%= @event.instructions %></p>
            <% if @event.contact.present? %>
              <%= mail_to @event.contact, t("views.events.show.contact"),
              class: "bttn bttn-primary"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <article class="l-main-content">
    <div class="l-switcher">
      <div class="c-switcher">
        <div class="switcher-header">
          <div class="wrap">
            <h2><%= t("views.events.show.tasks_title") %></h2>
            <ul class="tabs">
              <li class="tab -is-active" data-tab="tab-1">
                <%= t("views.events.show.map_view") %>
              </li>
              <li class="tab" data-tab="tab-2">
                <%= t("views.events.show.list_view") %>
              </li>
            </ul>
          </div>
        </div>
        <div class="tabs-content">
          <div id="tab-1" class="tabs-panel -is-active">
            <div id="data-table-view"></div>
          </div>
          <div id="tab-2" class="tabs-panel">
            <%= form_tag campaign_tasks_path(@event), method: 'get', id: "search-form-tasks" do %>
              <div class="search wrap transparent-padding">
                <%= text_field_tag :search_tasks, params[:search_tasks], class: 'search-input' %>
                <svg class="icon icon-search">
                  <use xlink:href="#icon-search"></use>
                </svg>
                <%= submit_tag '', name: nil, class: 'hidden' %>
              </div>
              <div id="search-table-tasks"><%= render 'tasks/tasks', tasks: @tasks %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
