<tr class="wrap-back text text-desc -dark" data-role="campaign<%= campaign.id %>" data-move-url="<%= move_admin_campaign_url(campaign) %>" data-position="<%= campaign.position %>">
  <td>
    <svg class="icon icon-Row-Dragger">
      <use xlink:href="#icon-Row-Dragger"></use>
    </svg>
  </td>
  <td><%= campaign.start_date %></td>
  <td class="campaign-name"><%= link_to campaign.name, admin_campaign_path(campaign) %></td>
  <td><%= campaign.htag %></td>
</tr>
