<p>
  <strong class="text text-legend -dark">Name:</strong>
  <%= @campaign.name %>
</p>

<p>
  <strong class="text text-legend -dark">Htag:</strong>
  <%= @campaign.htag %>
</p>

<p>
  <strong class="text text-legend -dark">Description:</strong>
  <%= @campaign.description %>
</p>

<p>
  <strong class="text text-legend -dark">Background image:</strong>
  <%= image_tag @campaign.background_image.url(:medium) %>
</p>

<p>
  <strong class="text text-legend -dark">Url:</strong>
  <%= @campaign.url %>
</p>

<p>
  <strong class="text text-legend -dark">Status:</strong>
  <%= @campaign.status_humanize %>
</p>

<p>
  <strong class="text text-legend -dark">Start date:</strong>
  <%= @campaign.start_date %>
</p>

<%= link_to 'Edit', edit_admin_campaign_path(@campaign),  class: 'bttn bttn-primary' %>
<%= link_to 'Back', admin_campaigns_path, class: 'bttn bttn-secondary' %>
